.tweetBox {
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--background-color);
}

.tweetBox__input {
    display: flex;
    padding: 20px;
}

.tweetBox>form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input>input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.tweetBox_button {
    color: white!important;
    background-color: var(--twitter-color)!important;
    text-transform: inherit!important;
    border-radius: 30px!important;
    padding: 10px;
    margin-top: 10px!important;
    margin-bottom: 10px;
    border: none;
    font-weight: 900!important;
    width: 80px;
    height: 40px;
    margin-left: auto!important;
}

.tweetBox__imageInput {
    border: none;
    padding: 10px;
    font-size: 12px;
}